<h1>Restaurants</h1>

<ul>
      <% @restaurants.each do |resto| %>
    <li>
      <%= link_to resto[:name], restaurant_path(resto) %>
    </li>
      <% end %>
</ul>

<%= link_to 'Add a resto', new_restaurant_path  %>
