<h1><%= @restaurant.name %></h1>
<p>Category: <%= @restaurant.category %></p>
<p>Address: <%= @restaurant.address %></p>

<%= link_to 'Leave a wonderfull review', new_restaurant_review_path(@restaurant)  %>
